@{
    ViewBag.Title = "Home - BAbioscoop";
}
@model IEnumerable<BAscoop.Models.Movie>

@section featured {
    <section class="jumbotron">
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
    </section>
}
<div class="row">
    @foreach (var movie in Model) { 
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail" style="background-color:#f5f5f5">
            <!--<img src="~/Images/taken_3.jpg" width="300" height="300" alt="...">-->
            <div class="caption">
                <h3>
                    @Html.DisplayFor(modelItem => movie.title)
                </h3>
                <p>
                    @Html.DisplayFor(modelItem => movie.description)
                </p>
                <p>
                    <div class="btn-group-md">
                        @Html.ActionLink("Reserveer nu!", "Create", "Booking", new { id = movie.id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Meer details", "Details", "Movie", new { id = movie.id }, new { @class = "btn btn-default" })
                    </div>
                </p>
            </div>
        </div>
    </div>
    }
</div>