@model BAscoop.Models.Booking

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.nrOfTickets, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nrOfTickets)
                @Html.ValidationMessageFor(model => model.nrOfTickets)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.totalPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.totalPrice)
                @Html.ValidationMessageFor(model => model.totalPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.guestId, "guestId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("guestId", String.Empty)
                @Html.ValidationMessageFor(model => model.guestId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiscountId, "DiscountId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DiscountId", String.Empty)
                @Html.ValidationMessageFor(model => model.DiscountId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PerformanceId, "PerformanceId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PerformanceId", String.Empty)
                @Html.ValidationMessageFor(model => model.PerformanceId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
