@model BAbioscoop.Models.Booking

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Booking</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nrOfTickets)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nrOfTickets)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.accountNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accountNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.totalPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.totalPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.adres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.adres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.city)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.city)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.postal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.postal)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
