@model BAbioscoop.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Booking</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nrOfTickets)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nrOfTickets)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.accountNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accountNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.totalPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.totalPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.adres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.adres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.city)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.city)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.postal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.postal)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
