@model BAscoop.Controllers.BookingInformationViewModel

@{
    ViewBag.Title = "FirstStep";
}

<h2>@Html.DisplayFor(m => m.Movie.title) reserveren</h2>

<fieldset>    
    <legend>Stap 1</legend>

    <label>Datum</label>
        @Html.DisplayFor(m => m.Performance.StartTijd)
    <br/>
    <label>Prijs per ticket</label> &#8364;
    @Html.DisplayTextFor(m => m.Movie.price)
    ,-

</fieldset>


@using (Html.BeginForm("SecondStep", "Booking"))
{
    <label>Aantal tickets</label>
    @Html.EditorFor(m => m.AantalMensen)
    <label>Kortingscode</label>
    @Html.EditorFor(m => m.Discountcode)

    <button type="submit">Volgende stap</button>
}
