@model BAbioscoop.Models.Booking

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Booking</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nrOfTickets)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nrOfTickets)
            @Html.ValidationMessageFor(model => model.nrOfTickets)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.accountNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.accountNumber)
            @Html.ValidationMessageFor(model => model.accountNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.totalPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.totalPrice)
            @Html.ValidationMessageFor(model => model.totalPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.adres)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.adres)
            @Html.ValidationMessageFor(model => model.adres)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.city)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.city)
            @Html.ValidationMessageFor(model => model.city)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.postal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.postal)
            @Html.ValidationMessageFor(model => model.postal)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
