@model IEnumerable<BAscoop.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Discount.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Performance.PerformanceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nrOfTickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Discount.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guest.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Performance.PerformanceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nrOfTickets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
