﻿@model BAscoop.Controllers.BookingInformationViewModel

@{
    ViewBag.Title = "SecondStep";
}

<h2>@Html.DisplayFor(m => m.Movie.title) reserveren</h2>

<fieldset>
    <legend>Stap 2</legend>

    <label>Datum</label>
    @Html.DisplayFor(m => m.Performance.StartTijd)
    <br />
    <label>Aantal tickets</label>
    @Html.DisplayFor(m => m.AantalMensen)
    <br />

</fieldset>


@using (Html.BeginForm("ThirdStep", "Booking"))
{
    <label>Totaalprijs</label>
    @Html.DisplayFor(m => m.TotaalPrijs)
    <br/>
    
    <label>@Html.DisplayNameFor(m => m.Guest.firstName)</label>
    @Html.EditorFor(m => m.Guest.firstName)
    <br />
     <label>
         @Html.DisplayNameFor(m => m.Guest.suffix)
    </label>
    @Html.EditorFor(m => m.Guest.suffix)
    <br />
    <label>
         @Html.DisplayNameFor(m => m.Guest.lastName)
    </label>
    @Html.EditorFor(m => m.Guest.lastName)
    <br />
    <label>
         @Html.DisplayNameFor(m => m.Guest.adres)
    </label>
    @Html.EditorFor(m => m.Guest.adres)
    <br />
    <label>
         @Html.DisplayNameFor(m => m.Guest.city)
    </label>
    @Html.EditorFor(m => m.Guest.city)
    <br />
    <label>
         @Html.DisplayNameFor(m => m.Guest.postal)
    </label>
    @Html.EditorFor(m => m.Guest.postal)
    <br />

                     <button type="submit">Volgende stap</button>
}
