﻿@model BAscoop.Controllers.BookingInformationViewModel

@{
    ViewBag.Title = "SecondStep";
}

<h2>@Html.DisplayFor(m => m.Movie.title) reserveren</h2>

<fieldset>
    <legend>Stap 2</legend>

    <label>Datum</label>
    @Html.DisplayFor(m => m.Performance.StartTijd)
    <br />
    <label>Aantal tickets</label>
    @Html.DisplayFor(m => m.AantalMensen)
    <br />

</fieldset>


@using (Html.BeginForm("ThirdStep", "Booking"))
{
    <div class="form-horizontal">
        <h4>NAW</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model =>  model.Guest.firstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model =>  model.Guest.firstName)
                @Html.ValidationMessageFor(model => model.Guest.firstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Guest.suffix, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Guest.suffix)
                @Html.ValidationMessageFor(model => model.Guest.suffix)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Guest.lastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Guest.lastName)
                @Html.ValidationMessageFor(model => model.Guest.lastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Guest.adres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Guest.adres)
                @Html.ValidationMessageFor(model => model.Guest.adres)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Guest.city, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Guest.city)
                @Html.ValidationMessageFor(model => model.Guest.city)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Guest.postal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Guest.postal)
                @Html.ValidationMessageFor(model => model.Guest.postal)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit">Volgende stap</button>
            </div>
        </div>
    </div>

                    
}
